@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
    font-family: sans-serif;
    text-align: center;
  }
#coin {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  #coin div {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
      0 12px 20px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
      0 12px 20px -10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
      0 12px 20px -10px rgba(0, 0, 0, 0.4);
  }
.side-a {
    background-color: #bb0000;
    color: white;
    text-align: center;
  }
  .side-b {
    background-color: #3e3e3e;
    color: white;
    text-align: center;
  }

  .glass-container {
   
    background: rgba(0, 0, 0, 0.5); /* Adjust transparency here */
    border-radius: 20px;
    backdrop-filter: blur(10px); /* Adjust blur amount here */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .glass-container h2 {
    color: #fff;
    margin-bottom: 10px;
  }

  .glass-container p {
    color: #ddd;
    font-size: 16px;
    text-align: center;
  }
